/* Welcome to the css style sheet for UK Postcode Planner */
:root {
    /* Custom properties */
    --letter-spacing: 0.1rem;
    --fs: 1rem;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.nav-menu {
    list-style: none;
    display: flex;
    gap: 1rem;
}

